html, body
{
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #09233b;
  color: #fff !important;
}

a
{
  color: #fff !important;
}

/* Header css */

.top-sect
{
  background: #1b354f;
}

.head-sub
{
  margin-top: 10px;
}

.main-title
{
  font-size: 28px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 20px;
}

.sub-title
{
  font-size: 18px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (max-width: 800px)
{
  .main-title
  {
    font-size: 24px;
  }
  .sub-title
  {
    font-size: 14px;
  }
}

.join-us
{
  float: right;
  display: inline;
  background: #0092d4;
  border: 1px solid #0092d4;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .join-us
  {
    font-size: 18px;
  }
}

.join-us i
{
  display: inline;
  color: #fff;
}



/* Header css */

/* ------------------------------------------------- */

/* Footer css */
.footer-part
{
  background: #09233b;
  border-top: 1.5px solid #1b354f;
}

.footer-part h1, i
{
  display: inline;
  font-size: 28px;
  color: #fff;
}

.footer-logo
{
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: bottom;
}

.footer-details
{
  display: inline;
}

.social-media
{
  display: inline;
  float: right;
  margin-top: 40px;
  font-size: 25px;
  letter-spacing: 8px;
}
@media screen and (max-width : 800px) {
  .social-media
  {
    width: 150px;
    float: left;
    display: block;
    margin-top: -5px;
    margin-left: 10px;
  }
}

/* Footer css */

/* ------------------------------------------------- */

/* Content Part css */

.content-part
{
  min-height: 100vh;
  max-height: 100%;
}

.leaderboard
{
  width: 90%;
  height: auto;
  display: block;
  margin: 80px auto;
  border-radius: 5px;
  background: #1b354f;
  overflow: auto;
}

.lead
{
  text-align: center;
  font-size: 30px;
  font-weight: 250;
}

.position
{
  width: 95%;
  height: auto;
  display: block;
  margin: 10px auto;
  overflow: hidden;
}

.position img
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.pos-avatar
{
  width:50px;
  height: 50px;
  display: inline;
  float: left;
}

.pos-name
{
  width:auto;
  height: 50px;
  display: inline;
  float: left;
}

.pos-name .ldr-usr
{
  font-size: 20px;
  margin-top: -4px;
  margin-left: 10px;
}

.pos-name .ldr-prjct
{
  font-size: 15px;
  margin-top: -8px;
  margin-left: 10px;
}

.ldr-hvr:hover
{
  font-weight: bold;
  font-size: 18px;
}

.pos-strk
{
  width: auto;
  height: 50px;
  display: inline;
  float: left;
}

.topper-streak
{
  margin-left: 10px;
  margin-top: 14px;
  background: #ffc600;
  font-size: 18px;
  display: inline;
  float: left;
  border-radius: 20px;
  width: 70px;
  height: 30px;
  text-align: center;
}

.normal-streak
{
  margin-left: 30px;
  margin-top: 10px;
  background: #ffc600;
  font-size: 18px;
  display: inline;
  float: left;
  border-radius: 20px;
  width: 70px;
  height: 30px;
  text-align: center;
}

.topper
{
  font-size: 30px;
  margin-left: 5px;
  margin-top: 8px;
  display: inline;
  float: left;
}

.cards-container
{
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 50px;
}

.card-column
{
   margin-right: 30px;
   border-radius: 20px;
   background: #1b354f;
}

@media screen and (max-width : 800px){
  .card-column
  {
    width: 400px;
    display: block;
    margin: 10px auto;
  }
  .table-two
  {
    width: 300px;
    display: block;
    margin: 10px auto;
  }
}

.table-one
{
  width: 300px;
  height: 90px;
}

.img-cell
{
   width: 100px;
   text-align: center;
   vertical-align: middle;
}

.img-cell img
{
  width: 80px;
  height:80px;
  border-radius: 50%;
}

.usrname-cell
{
  width: auto;
  text-align: center;
  vertical-align: bottom;
  font-size: 20px;
  font-weight: bold;
}

.prjct-cell
{
   width: auto;
   text-align: center;
   vertical-align: top;
   font-size: 17px;
   font-weight: normal;
}

.prjct-cell span:hover
{
  font-weight: bold;
}

.table-two
{
  width: 300px;
  height: 45px;
}

.head-cell
{
   vertical-align: middle;
   width:25%;
   text-align: center;
   font-weight: lighter;
}

.values-cell
{
  vertical-align: middle;
  width:25%;
  text-align: center;
}

/* Content Part css */

/* ------------------------------------------------- */

/* User Page css */

.userboard
{
  width: 100%;
  height: auto;
  display: block;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  background: #1b354f;
  overflow: auto;
}

@media screen and (max-width : 800px){
  .left-parent{
    width: 100%;
  }
  .userboard{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .day-this{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.use
{
  margin-top: 15px;
  text-align: center;
  font-size: 28px;
  font-weight: 250;
}

.user-dp
{
  margin: 10px auto;
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.user-stat
{
  width: 100%;
  margin-top: 20px;
}

.user-stat td
{
  text-align: center;
  font-size: 20px;
  height: 30px;
}

.git-connect
{
  text-align: center;
  height: 40px;
  margin-top: 20px;
}

.git-connect i
{
  font-size: 22px;
  padding: 5px 10px 8px 10px;
  border: 0.5px solid white;
  border-radius: 20px;
}

.user-projects
{
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.user-projects div
{
  display: inline-block;
  margin-top: 10px;
  font-size: 17px;
  border-radius: 20px;
  padding: 3px 10px 3px 10px;
  background: #e5a524
}

.day-activity
{
  width: 70vw;
  min-height: 75vh;
  display: inline-block;
  margin-top: 94px;
  margin-left: 35px;
  margin-right: 50px;
}

.day-this
{
  min-width: 100%;
  display: block;
  min-height: 100px;
  margin-bottom: 25px;
  border-radius: 10px;
  background: #1b354f;
}

.date-p
{
  padding-top: 15px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}

.today-activity
{
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.today-activity ul li
{
  padding-top: 8px;
}
